<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    li {
        float: left;
    }

    a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
</style>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
    </ul>
    <br>
    <!-- <%= JSON.stringify(listUsers) %> -->
    <table>
        <tr>
            <th>id</th>
            <th>Email</th> 
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <!-- <% for(let i=0; i < listUsers.length; i++) { %>
            <tr>
              <td><%= listUsers[i].id %></td>
              <td><%= listUsers[i].email %></td>
              <td><%= listUsers[i].name %></td>
              <td><%= listUsers[i].city %></td>
              <td>
                <button>Sửa</button>
                <button>Xóa</button>
            </td>
            </tr>
         <% } %> -->
         <% listUsers.forEach(function(user) { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td><%= user.name %></td>
              <td><%= user.city %></td>
              <td>
                <button>Sửa</button>
                <button>Xóa</button>
            </td>
            </tr>
         <% }); %> 
    </table>
</body>

</html>